.question {
  font-size: 16px;
  line-height: 32px;
}
.answers{
  justify-content: space-around;
  display: flex;
}
.incorrectAnswer1, .incorrectAnswer2, .incorrectAnswer0 {
  margin:10%;
  
}
.correct{
  background: green;
  
 
}
.display-3{
  justify-content: space-around;
  display: flex;
}
#startBtn{
  justify-content: space-around;
  display: flex;
}