.question {
  font-size: 24px;
  line-height: 32px;
}
.answers{
  justify-content: space-around;
  display: flex;
}
button::hover{
  background:#B22803;
  color:white;
}
.score{
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 24px;
  
}
.correct{
  background: #65AD0F;
  color: white;
}
.incorrect{
  background:#B22803;
  color:white;
}
.display-3{
  justify-content: space-around;
  display: flex;
  padding-bottom:50px;
}
.lead{
  justify-content: space-around;
  display: flex;
}
#startBtn{
  background: #65AD0F;
  color: white;
}
#clock{
  font-size: 32px;
}
body{
  background: #FF6D47;
}
.jumbotron{
  color:white;
 background: #0030CC;
 margin-left:20%;
 margin-right:20%;
 
}
.score{
  background: #435DB2;
  padding:2%;
}
.text{color: white}
question{
  margin:10%
}